@import "tailwindcss";

@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php";
@source "../../storage/framework/views/*.php";

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(80% 0.105 251.813);
    --color-primary-content: oklch(28% 0.091 267.935);
    --color-secondary: oklch(80% 0.114 19.571);
    --color-secondary-content: oklch(25% 0.092 26.042);
    --color-accent: oklch(87% 0.15 154.449);
    --color-accent-content: oklch(26% 0.065 152.934);
    --color-neutral: oklch(37% 0.044 257.287);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(69% 0.17 162.48);
    --color-success-content: oklch(97% 0.021 166.113);
    --color-warning: oklch(70% 0.213 47.604);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 2rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}